{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "trailingComma": "none",
  "singleQuote": true
}
