@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
	--font-montserrat: 'Montserrat', sans-serif;
}

@custom-variant dark (&:is(.dark *));

:root {
	--background: #ffffff;
	--foreground: #262626;
	--card: #ffffff;
	--card-foreground: #262626;
	--popover: #ffffff;
	--popover-foreground: #262626;
	--primary: #0bf59e;
	--primary-foreground: #000000;
	--secondary: #f6f3f4;
	--secondary-foreground: #634b55;
	--muted: #fbf9fa;
	--muted-foreground: #806b72;
	--accent: #ebfffb;
	--accent-foreground: #0e9240;
	--destructive: #44ef44;
	--destructive-foreground: #ffffff;
	--border: #ebe5e7;
	--input: #ebe5e7;
	--ring: #0bf59e;
	--chart-1: #0bf59e;
	--chart-2: #06d977;
	--chart-3: #09b453;
	--chart-4: #0e9240;
	--chart-5: #0f7835;
	--sidebar: #fbf9fa;
	--sidebar-foreground: #262626;
	--sidebar-primary: #0bf59e;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #ebfffb;
	--sidebar-accent-foreground: #0e9240;
	--sidebar-border: #ebe5e7;
	--sidebar-ring: #0bf59e;
	--font-sans: Inter, sans-serif;
	--font-serif: Source Serif 4, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 5px;
	--shadow-spread: -1px;
	--shadow-opacity: 0.6;
	--shadow-color: #1a1a1a;
	--shadow-2xs: 0px 4px 5px -1px hsl(0 0% 10.1961% / 0.3);
	--shadow-xs: 0px 4px 5px -1px hsl(0 0% 10.1961% / 0.3);
	--shadow-sm: 0px 4px 5px -1px hsl(0 0% 10.1961% / 0.6), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.6);
	--shadow: 0px 4px 5px -1px hsl(0 0% 10.1961% / 0.6), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.6);
	--shadow-md: 0px 4px 5px -1px hsl(0 0% 10.1961% / 0.6), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.6);
	--shadow-lg: 0px 4px 5px -1px hsl(0 0% 10.1961% / 0.6), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.6);
	--shadow-xl: 0px 4px 5px -1px hsl(0 0% 10.1961% / 0.6), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.6);
	--shadow-2xl: 0px 4px 5px -1px hsl(0 0% 10.1961% / 1.5);
	--tracking-normal: 0em;
	--spacing: 0.24rem;
}

.dark {
	--background: #171717;
	--foreground: #e5e5e5;
	--card: #262626;
	--card-foreground: #e5e5e5;
	--popover: #262626;
	--popover-foreground: #e5e5e5;
	--primary: #81cdc6;
	--primary-foreground: #000000;
	--secondary: #262626;
	--secondary-foreground: #e5e5e5;
	--muted: #1f1f1f;
	--muted-foreground: #a3a3a3;
	--accent: #4fb9af;
	--accent-foreground: #262626;
	--destructive: #e63946;
	--destructive-foreground: #ffffff;
	--border: #404040;
	--input: #404040;
	--ring: #81cdc6;
	--chart-1: #2a9d8f;
	--chart-2: #ef476f;
	--chart-3: #ffd166;
	--chart-4: #06d6a0;
	--chart-5: #118ab2;
	--sidebar: #0f0f0f;
	--sidebar-foreground: #e5e5e5;
	--sidebar-primary: #81cdc6;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #81cdc6;
	--sidebar-accent-foreground: #404040;
	--sidebar-border: #404040;
	--sidebar-ring: #81cdc6;
	--font-sans: Inter, sans-serif;
	--font-serif: Source Serif 4, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 5px;
	--shadow-spread: -1px;
	--shadow-opacity: 0.6;
	--shadow-color: #81cdc6;
	--shadow-2xs: 0px 4px 5px -1px hsl(174.4737 43.1818% 65.4902% / 0.3);
	--shadow-xs: 0px 4px 5px -1px hsl(174.4737 43.1818% 65.4902% / 0.3);
	--shadow-sm: 0px 4px 5px -1px hsl(174.4737 43.1818% 65.4902% / 0.6),
		0px 1px 2px -2px hsl(174.4737 43.1818% 65.4902% / 0.6);
	--shadow: 0px 4px 5px -1px hsl(174.4737 43.1818% 65.4902% / 0.6),
		0px 1px 2px -2px hsl(174.4737 43.1818% 65.4902% / 0.6);
	--shadow-md: 0px 4px 5px -1px hsl(174.4737 43.1818% 65.4902% / 0.6),
		0px 2px 4px -2px hsl(174.4737 43.1818% 65.4902% / 0.6);
	--shadow-lg: 0px 4px 5px -1px hsl(174.4737 43.1818% 65.4902% / 0.6),
		0px 4px 6px -2px hsl(174.4737 43.1818% 65.4902% / 0.6);
	--shadow-xl: 0px 4px 5px -1px hsl(174.4737 43.1818% 65.4902% / 0.6),
		0px 8px 10px -2px hsl(174.4737 43.1818% 65.4902% / 0.6);
	--shadow-2xl: 0px 4px 5px -1px hsl(174.4737 43.1818% 65.4902% / 1.5);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
